.col-sm-12 {
	background-color: lightgrey;
	text-align: center;
	border: black;
}

.col-sm-6{
	background-color: lightgrey;
	text-align: center;
}

.userResponse{
	display: inline-block;
	vertical-align: middle;
}